In [170]:
import pandas as pd
import numpy as np
import re

df = pd.read_csv('D:\\BIG DATA LEVEL-2\\WEB ANALYTICS AND BUSINESS INTELLIGENCE\\FIFA 21.csv',low_memory=False)
print(df)

           ID               Name                      LongName  \
0      158023           L. Messi                  Lionel Messi
1       20801  Cristiano Ronaldo  C. Ronaldo dos Santos Aveiro
2      200389           J. Oblak                     Jan Oblak
3      192985       K. De Bruyne               Kevin De Bruyne
4      190871          Neymar Jr    Neymar da Silva Santos Jr.
...       ...                ...                           ...
18974  247223             Xia Ao                        Ao Xia
18975  258760           B. Hough                     Ben Hough
18976  252757        R. McKinley                Ronan McKinley
18977  243790       Wang Zhen'ao                  Zhen'ao Wang
18978  252520          Zhou Xiao                     Xiao Zhou

                                               photoUrl  \
0      https://cdn.sofifa.com/players/158/023/21_60.png
1      https://cdn.sofifa.com/players/020/801/21_60.png
2      https://cdn.sofifa.com/players/200/389/21_60.png
3      https://cdn.sofifa.com/players/192/985/21_60.png
4      https://cdn.sofifa.com/players/190/871/21_60.png
...                                                 ...
18974  https://cdn.sofifa.com/players/247/223/21_60.png
18975  https://cdn.sofifa.com/players/258/760/21_60.png
18976  https://cdn.sofifa.com/players/252/757/21_60.png
18977  https://cdn.sofifa.com/players/243/790/21_60.png
18978  https://cdn.sofifa.com/players/252/520/21_60.png

                                               playerUrl Nationality  Age  \
0      http://sofifa.com/player/158023/lionel-messi/2...   Argentina   33
1      http://sofifa.com/player/20801/c-ronaldo-dos-s...    Portugal   35
2      http://sofifa.com/player/200389/jan-oblak/210006/    Slovenia   27
3      http://sofifa.com/player/192985/kevin-de-bruyn...     Belgium   29
4      http://sofifa.com/player/190871/neymar-da-silv...      Brazil   28
...                                                  ...         ...  ...
18974     http://sofifa.com/player/247223/ao-xia/210006/    China PR   21
18975  http://sofifa.com/player/258760/ben-hough/210006/     England   17
18976  http://sofifa.com/player/252757/ronan-mckinley...     England   18
18977  http://sofifa.com/player/243790/zhenao-wang/21...    China PR   20
18978  http://sofifa.com/player/252520/xiao-zhou/210006/    China PR   21

       ↓OVA  POT                         Club  ...     A/W     D/W   IR PAC  \
0        93   93         \n\n\n\nFC Barcelona  ...  Medium     Low  5 ★  85
1        92   92             \n\n\n\nJuventus  ...    High     Low  5 ★  89
2        91   93      \n\n\n\nAtlético Madrid  ...  Medium  Medium  3 ★  87
3        91   91      \n\n\n\nManchester City  ...    High    High  4 ★  76
4        91   91  \n\n\n\nParis Saint-Germain  ...    High  Medium  5 ★  91
...     ...  ...                          ...  ...     ...     ...  ...  ..
18974    47   55           \n\n\n\nWuhan Zall  ...  Medium  Medium  1 ★  64
18975    47   67      \n\n\n\nOldham Athletic  ...  Medium  Medium  1 ★  64
18976    47   65           \n\n\n\nDerry City  ...  Medium  Medium  1 ★  63
18977    47   57     \n\n\n\nDalian YiFang FC  ...  Medium  Medium  1 ★  58
18978    47   57     \n\n\n\nDalian YiFang FC  ...  Medium  Medium  1 ★  62

      SHO  PAS DRI DEF PHY Hits
0      92   91  95  38  65  771
1      93   81  89  35  77  562
2      92   78  90  52  90  150
3      86   93  88  64  78  207
4      85   86  94  36  59  595
...    ..  ...  ..  ..  ..  ...
18974  28   26  38  48  51  NaN
18975  40   48  49  35  45  NaN
18976  39   44  46  40  53  NaN
18977  49   41  49  30  44  NaN
18978  22   39  42  45  55  NaN

[18979 rows x 77 columns]

In [171]:
df.head(5)

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [172]:
df.isnull().sum()

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

NOTE: Checking null values in dataset. We got to know that Hits column has 2595 null rows.

In [173]:
df.drop_duplicates
df.shape

(18979, 77)

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

Convert the height and weight columns to numerical forms.

In [175]:
height_counts = df['Height'].unique()
print(height_counts)

['170cm' '187cm' '188cm' '181cm' '175cm' '184cm' '191cm' '178cm' '193cm'
 '185cm' '199cm' '173cm' '168cm' '176cm' '177cm' '183cm' '180cm' '189cm'
 '179cm' '195cm' '172cm' '182cm' '186cm' '192cm' '165cm' '194cm' '167cm'
 '196cm' '163cm' '190cm' '174cm' '169cm' '171cm' '197cm' '200cm' '166cm'
 '6\'2"' '164cm' '198cm' '6\'3"' '6\'5"' '5\'11"' '6\'4"' '6\'1"' '6\'0"'
 '5\'10"' '5\'9"' '5\'6"' '5\'7"' '5\'4"' '201cm' '158cm' '162cm' '161cm'
 '160cm' '203cm' '157cm' '156cm' '202cm' '159cm' '206cm' '155cm']

In [176]:
def convert_height(height:str):
    if "cm" in height:
        return int(height.replace('cm',''))
    elif "'" in height:
        feet_inch = re.split("\'", height)
        return int(round(float(feet_inch[0])* 30.48 + float(feet_inch[1].replace('"', ''))* 2.54))

df['Height'] = df['Height'].apply(convert_height)

height_counts = df['Height'].value_counts()
print(height_counts)

Height
180    1480
178    1254
185    1185
183    1156
175    1094
188     935
182     887
184     817
186     816
177     738
187     711
181     708
176     670
179     662
173     610
190     583
174     540
170     498
191     466
189     462
172     458
193     322
192     298
171     277
168     218
169     178
194     177
196     142
195     138
167     114
165      94
166      63
197      58
198      41
164      31
163      20
199      17
162      13
201      13
200       7
160       7
161       6
202       4
158       3
203       2
159       2
157       1
156       1
206       1
155       1
Name: count, dtype: int64

NOTE: Here, converting all data into cm, and converting it to int format. Also remove unit cm from dataframe.

In [177]:
df.Height.dtypes

dtype('int64')

NOTE: Datatype of Heights is int now.

In [178]:
weight_counts = df['Weight'].unique()
print(weight_counts)

['72kg' '83kg' '87kg' '70kg' '68kg' '80kg' '71kg' '91kg' '73kg' '85kg'
 '92kg' '69kg' '84kg' '96kg' '81kg' '82kg' '75kg' '86kg' '89kg' '74kg'
 '76kg' '64kg' '78kg' '90kg' '66kg' '60kg' '94kg' '79kg' '67kg' '65kg'
 '59kg' '61kg' '93kg' '88kg' '97kg' '77kg' '62kg' '63kg' '95kg' '100kg'
 '58kg' '183lbs' '179lbs' '172lbs' '196lbs' '176lbs' '185lbs' '170lbs'
 '203lbs' '168lbs' '161lbs' '146lbs' '130lbs' '190lbs' '174lbs' '148lbs'
 '165lbs' '159lbs' '192lbs' '181lbs' '139lbs' '154lbs' '157lbs' '163lbs'
 '98kg' '103kg' '99kg' '102kg' '56kg' '101kg' '57kg' '55kg' '104kg'
 '107kg' '110kg' '53kg' '50kg' '54kg' '52kg']

In [179]:
def convert_weight(weight: str):
    if "kg" in weight:
        return int(weight.replace('kg',''))
    elif "lb" in weight:
        lbs = int(weight.replace('lbs',''))
        return int(round(lbs*0.453592))

df['Weight'] = df['Weight'].apply(convert_weight)

weight_counts = df['Weight'].value_counts()
print(weight_counts)

Weight
70     1496
75     1459
80     1109
72     1024
78      995
74      957
73      956
77      893
76      880
68      795
79      684
71      648
82      622
69      565
65      535
81      523
83      515
67      508
84      444
85      423
66      401
64      341
86      285
88      266
63      239
87      224
62      181
90      156
60      153
89      128
61       96
91       87
92       68
93       52
58       44
59       41
94       34
95       30
57       19
55       17
96       15
98       13
56       12
97        9
100       8
54        5
103       4
102       4
101       4
99        3
104       3
52        2
107       1
110       1
53        1
50        1
Name: count, dtype: int64

NOTE: Weight should be convert in kg and int datatype. And weight which are in lbs is rounded with a formula.

Remove the unnecessary newline characters from all columns that have them.

In [180]:
columns_with_newline = []
for column in df.columns:
    if df[column].apply(lambda x: '\n' in str(x)).any():
        columns_with_newline.append(column)

# Print columns with newline characters
print("Columns with newline characters:", columns_with_newline)

Columns with newline characters: ['Club']

In [181]:
df['Club'] = df['Club'].str.replace('\n', '', regex=True)
print(df['Club'].head(5))

0           FC Barcelona
1               Juventus
2        Atlético Madrid
3        Manchester City
4    Paris Saint-Germain
Name: Club, dtype: object

NOTE: Column name 'Club' has new line character in the beginning. By replacing \n with '' it removes new line character.

'Value', 'Wage' and "Release Clause' are string columns. Convert them to numbers. For eg, "M" in value column is Million, so multiply the row values by 1,000,000, etc.

In [182]:
def convert_money(money: str):
    if '€' in money:
        money=money.replace("€","")
    if 'M' in money:
        return int(float(money.replace('M',''))*1000000)
    elif 'K' in money:
        return int(float(money.replace('K',''))*1000)
    else:
        return int(money) 

df['Value'] = df['Value'].apply(convert_money)
df['Wage'] = df['Wage'].apply(convert_money)
df['Release Clause'] = df['Release Clause'].apply(convert_money)
df[['Value','Wage','Release Clause']]

           Value    Wage  Release Clause
0      103500000  560000       138400000
1       63000000  220000        75900000
2      120000000  125000       159400000
3      129000000  370000       161000000
4      132000000  270000       166500000
...          ...     ...             ...
18974     100000    1000           70000
18975     130000     500          165000
18976     120000     500          131000
18977     100000    2000           88000
18978     100000    1000           79000

[18979 rows x 3 columns]

NOTE: Covert_money function replace € with "", number which contain M multiply with 1000000 and K with 1000.

Some columns have 'star' characters. Strip those columns of these stars and make the columns numerical.

In [183]:
columns_with_star = []
for column in df.columns:
    if df[column].apply(lambda x: '★' in str(x)).any():
        columns_with_star.append(column)

# Print columns with star characters
print("Columns with star characters:", columns_with_star)

Columns with star characters: ['W/F', 'SM', 'IR']

In [184]:
columns_star = ['W/F', 'SM', 'IR']
for column in columns_star:
    df[column] = df[column].replace('★', '', regex=True)
print(df[columns_star])

      W/F SM  IR
0      4   4  5
1      4   5  5
2      3   1  3
3      5   4  4
4      5   5  5
...    .. ..  ..
18974  2   2  1
18975  2   2  1
18976  2   2  1
18977  3   2  1
18978  3   2  1

[18979 rows x 3 columns]

NOTE: Column names W/F,SM,IR columns has ★. So, here replacing that with space. By using lambda function to create simple expression and call the function.

Remove further outliers from data and generate a summary report stating all the changes.

In [185]:
df = df.rename(columns={'LongName':'FullName'})

NOTE: Renaming LongName with FullName.

In [186]:
df.Hits.unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', nan],
      dtype=object)

In [187]:
df.Hits = df.Hits.fillna('0')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   FullName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  int64
 13  Weight            18979 non-null  int64
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  int64
 20  Wage              18979 non-null  int64
 21  Release Clause    18979 non-null  int64
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(59), object(18)
memory usage: 11.1+ MB

NOTE: There are some data in Hits column are null. Therefore, filling that rows with 0.

In [188]:
def covert_Hits(hits: str):
    hits = str(hits)
    if 'K' not in hits:
        return float(hits)
    else:
        return float(hits.replace('K',''))*1000
        
df['Hits'] = df['Hits'].apply(covert_Hits)
df['Hits']

0        771.0
1        562.0
2        150.0
3        207.0
4        595.0
         ...
18974      0.0
18975      0.0
18976      0.0
18977      0.0
18978      0.0
Name: Hits, Length: 18979, dtype: float64

NOTE: Here, column Hits has K means thousand so, multiplying this with 1000.

In [189]:
df = df.rename(columns={'↓OVA':'OVA'})

NOTE: Renaming ↓OVA with OVA.

In [190]:
from datetime import datetime
df['Joined'] = df['Joined'].apply(lambda x: datetime.strptime(x, "%d-%b-%y"))

In [191]:
df['Joined']

0       2004-07-01
1       2018-07-10
2       2014-07-16
3       2015-08-30
4       2017-08-03
           ...
18974   2018-07-13
18975   2020-08-01
18976   2019-03-08
18977   2020-09-22
18978   2019-07-29
Name: Joined, Length: 18979, dtype: datetime64[ns]

NOTE: By using strptime() method creates a datetime object from the string in this format "%d-%b-%y".

In [192]:
df.Contract.unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [193]:
def Clean_Contract(a):
    if '~' in a:
        start_year, end_year = a.split(' ~ ')
        return int(end_year) - int(start_year)
    else:
        return 0

In [194]:
df['Contract_Duration'] = df['Contract'].apply(Clean_Contract)
# Rename the column to Contract status
df.Contract_Duration.head()

0    17
1     4
2     9
3     8
4     5
Name: Contract_Duration, dtype: int64

NOTE: Clean_Contract function refers to split years which has '~' and provide difference of it for cleaning of Contract column and made new column name Contract_Duration.

In [195]:
df.Contract_Duration.unique()

array([17,  4,  9,  8,  5,  6,  7, 10, 12, 13, 16, 14, 15,  2, 11,  3,  1,
        0, 20, 18, 21, 19, 23], dtype=int64)

In [196]:
df['Positions'].unique()

array(['RW, ST, CF', 'ST, LW', 'GK', 'CAM, CM', 'LW, CAM', 'ST', 'RW',
       'ST, LW, RW', 'CB', 'LW', 'CDM', 'CF, ST', 'LW, RW', 'CDM, CM',
       'CDM, RB', 'CF, CAM', 'LW, ST', 'CM', 'ST, CF, LW', 'RM, LM, CAM',
       'RB', 'RW, CAM, CM', 'LB', 'LM, CF', 'CF', 'RW, LW', 'CAM, RM, RW',
       'CM, CDM', 'CAM, CF, ST', 'CM, CDM, CAM', 'CF, LW, CAM',
       'CAM, RM, CF', 'LM, ST', 'RM, LM, RW', 'LM', 'CAM, RW', 'CB, CDM',
       'RW, RM', 'LW, CF', 'CM, RM, LM', 'LB, LM', 'CAM, CM, RM',
       'CAM, CM, CF', 'CAM, CF', 'LM, RM, LW', 'LM, LB, CM', 'CM, LM, LB',
       'RM, RW', 'RM, CM', 'CAM, CM, LW', 'CB, LB', 'RM, RB', 'ST, RW',
       'LM, RW, LW', 'RB, LB', 'RB, RM', 'RM', 'LM, RM, CF', 'CAM, RM',
       'RB, RWB', 'CDM, CB, CM', 'CAM, RM, ST', 'LM, LW, RM', 'CM, CAM',
       'ST, RM, CF', 'LM, RM', 'RM, CF', 'LM, LWB', 'RW, RM, CF',
       'RB, CM', 'LW, CAM, RW', 'CAM, LW, CM', 'CM, CAM, CDM',
       'RW, LW, CAM', 'CM, CAM, LM', 'CM, RM, ST', 'CDM, CM, RB',
       'ST, CAM', 'CAM, LW, ST', 'LB, CB, LWB', 'RM, ST', 'CB, CDM, LB',
       'RWB, RM', 'CM, LM, RM', 'RB, CDM, CM', 'RW, LW, RM', 'LM, LW',
       'CM, LM', 'LM, LB', 'RM, LM, CF', 'LB, LM, RM', 'CDM, CM, CAM',
       'ST, LW, RM', 'CAM, CM, ST', 'ST, CF', 'LWB, LB', 'LW, RW, LM',
       'RM, RW, ST', 'LWB', 'CF, ST, CAM', 'LM, CAM, RM', 'RB, CB',
       'ST, LM', 'RW, CAM', 'LM, CAM', 'RWB, RB', 'ST, RW, LW', 'CAM',
       'RB, RM, RW', 'LB, LWB', 'RM, CAM', 'CAM, ST', 'CDM, CB',
       'CF, LM, LW', 'CAM, LM, LW', 'LW, RW, CAM', 'CB, RB',
       'RB, CB, RWB', 'LM, LW, ST', 'LW, ST, CM', 'RM, CAM, CM',
       'CB, RB, RWB', 'RW, ST, LW', 'LW, CAM, CM', 'CM, LM, CDM',
       'LB, LM, LWB', 'CB, LB, RB', 'CAM, LW', 'RWB, RB, RM',
       'CF, CAM, ST', 'RM, CAM, RW', 'RW, ST', 'LW, LM', 'RB, RM, CM',
       'ST, CAM, RW', 'CM, RB, LB', 'CAM, LM, RM', 'RB, RW', 'LM, CM',
       'RM, LM, CM', 'CDM, CM, CB', 'CM, CF', 'CF, LW, RW', 'ST, RM',
       'CAM, CM, CDM', 'LB, CB', 'RW, RWB', 'ST, LM, RM', 'RM, RWB, RB',
       'LM, ST, CAM', 'CAM, ST, CF', 'LW, CM', 'RB, RWB, LB', 'RM, LM',
       'CM, CAM, RM', 'ST, LW, CAM', 'RM, RW, CAM', 'CM, CDM, RM',
       'RB, RM, RWB', 'CDM, CB, LB', 'CAM, ST, LM', 'LM, CM, RM',
       'CF, RW', 'CAM, RM, LW', 'CM, RM, CDM', 'LB, LWB, LM',
       'LW, RW, CF', 'LW, LM, CAM', 'LWB, LW, LB', 'CDM, CM, LM',
       'CB, CM', 'RWB, RW, RB', 'ST, RW, RM', 'LW, RW, CM', 'LM, RM, CAM',
       'LB, RB', 'RWB, RM, RB', 'LM, RB, LB', 'LW, LM, ST', 'ST, RM, LM',
       'CAM, CM, LM', 'CF, CM', 'LW, ST, RW', 'ST, CAM, CF', 'LB, CB, LM',
       'CM, CDM, LM', 'RM, RWB', 'LB, LM, RB', 'RB, LB, CB',
       'CM, CDM, RB', 'LB, CM', 'CF, CAM, LW', 'RM, LWB', 'CF, ST, LM',
       'LB, RB, CB', 'LW, CF, ST', 'RM, ST, CAM', 'LW, RW, ST',
       'ST, LW, LM', 'CM, LW', 'CDM, CM, LB', 'CM, RM, CAM',
       'ST, CF, CAM', 'CM, LM, CAM', 'RWB', 'LM, ST, RM', 'CAM, RM, CM',
       'CAM, LM, CM', 'RW, LW, ST', 'CAM, RM, LM', 'CF, ST, LW',
       'LWB, LB, LM', 'RM, CM, CAM', 'LB, LM, CAM', 'CAM, CDM',
       'RW, RB, RM', 'RM, ST, RW', 'CM, CAM, LW', 'CF, ST, RW',
       'LM, RM, RB', 'LM, RM, CM', 'CB, RB, RM', 'RB, CDM', 'RM, ST, LM',
       'LB, LWB, CB', 'CDM, LB', 'LM, RM, ST', 'RWB, RB, LWB',
       'ST, LM, CAM', 'ST, RM, CAM', 'RB, RWB, RM', 'CF, LM, CAM',
       'CAM, CF, RW', 'RB, RM, LB', 'CDM, RWB', 'CM, RW, CAM',
       'ST, CF, LM', 'RM, LM, RWB', 'RB, LB, RM', 'LM, LW, LB',
       'RM, LM, ST', 'CAM, LM', 'ST, LM, LW', 'LW, RW, RM', 'CF, LW',
       'LB, CM, RB', 'RB, CB, CDM', 'CB, RB, LB', 'CAM, RW, RM',
       'LWB, LM', 'LW, CF, LM', 'CAM, CF, CM', 'LWB, CB', 'CM, CDM, LW',
       'LM, CM, LB', 'CM, RM', 'RW, LW, CF', 'CM, CDM, CB', 'LM, RM, RW',
       'RM, RW, LM', 'RM, CAM, LM', 'LWB, RM, LB', 'RM, LB, RB',
       'CM, CF, RM', 'RM, RB, LB', 'ST, LM, RW', 'CAM, ST, LW',
       'CF, LW, ST', 'LM, LW, CAM', 'RM, RW, CF', 'LW, LM, CF',
       'CM, RW, LW', 'LM, CM, CAM', 'CAM, RW, ST', 'CM, CAM, CF',
       'RW, LWB, LW', 'CB, RB, CDM', 'RW, RM, LW', 'LW, ST, LM',
       'RWB, RW', 'ST, CAM, LM', 'CM, CB', 'RM, RW, CM', 'LWB, CM',
       'RM, LM, LB', 'RM, CAM, ST', 'CDM, RM, RB', 'LM, LB, RB',
       'LB, RB, RWB', 'RM, RWB, CAM', 'CAM, LM, CF', 'LM, CAM, CM',
       'CF, CAM, RW', 'CDM, CM, RM', 'CF, CAM, CM', 'ST, RM, LW',
       'CB, CDM, CM', 'RB, RW, LB', 'ST, RW, CAM', 'CM, LB', 'LW, RM, RW',
       'CM, RM, RW', 'RM, CF, LM', 'CF, LM, RM', 'CAM, ST, RM', 'RW, CF',
       'CM, CAM, ST', 'CAM, CDM, CM', 'RM, RW, LW', 'CAM, LM, LB',
       'CAM, RW, LW', 'CDM, CAM', 'LWB, LM, LB', 'RW, LB', 'LW, CAM, CF',
       'RB, RWB, CB', 'LM, CF, RM', 'RB, LB, RWB', 'RM, LW',
       'CAM, LM, ST', 'LW, LM, LB', 'LB, RB, RM', 'CM, LWB',
       'CDM, RB, RM', 'RM, CM, RB', 'ST, RM, RW', 'LM, RM, LWB',
       'RW, LW, LM', 'LW, CF, RW', 'CM, CDM, LB', 'ST, LM, RB', 'LB, CDM',
       'CM, CB, CDM', 'CB, LB, CDM', 'RW, ST, RM', 'RM, ST, CF',
       'CAM, LW, LM', 'LM, ST, LW', 'CAM, RM, RB', 'RB, CM, RM',
       'CM, LW, LM', 'ST, CAM, RM', 'RW, ST, CAM', 'CM, LB, LM',
       'RB, CDM, RM', 'LM, RWB, RM', 'LM, CAM, LB', 'CAM, LW, RW',
       'CM, RM, RWB', 'RW, CAM, LW', 'RB, CB, LB', 'LB, LM, LW', 'RW, RB',
       'LM, LWB, CM', 'RM, CAM, RB', 'RM, CM, ST', 'RB, RM, LM',
       'LM, LB, LW', 'LM, ST, CF', 'RW, LWB, RM', 'LM, CAM, LW',
       'CB, RWB', 'RM, LW, CAM', 'LB, LW', 'CDM, CM, ST', 'LB, CM, CDM',
       'CF, CAM, LM', 'RW, CAM, RM', 'RW, LM, LW', 'RW, CM, CAM',
       'LM, LW, RW', 'RM, LW, RW', 'LW, LWB, RWB', 'RM, LM, RB',
       'CB, CDM, RB', 'CAM, RW, CM', 'ST, CAM, CM', 'LWB, LM, CM',
       'RW, LW, RWB', 'CB, LB, LWB', 'CM, LM, ST', 'CM, LWB, LM',
       'LB, LW, LM', 'RB, CM, CAM', 'RM, CAM, CF', 'CM, RW',
       'RW, RM, CAM', 'CB, LWB', 'CAM, RB', 'LM, CM, CDM', 'RM, LB, LM',
       'CB, RB, CM', 'RB, CM, RWB', 'LB, RB, LM', 'CAM, ST, RW',
       'LB, LW, RW', 'CDM, CAM, CM', 'CAM, ST, CM', 'LM, CAM, ST',
       'LM, ST, CM', 'CAM, CF, RM', 'CF, ST, RM', 'LM, ST, LB',
       'ST, CAM, LW', 'LWB, CM, LB', 'RWB, RM, LWB', 'LWB, LM, RB',
       'CM, LW, ST', 'LB, LM, CB', 'CM, RM, RB', 'RWB, CB', 'RM, RB, RWB',
       'LB, CM, LM', 'ST, LW, CF', 'RM, RWB, ST', 'CF, ST, CM',
       'LM, LB, LWB', 'LM, RW', 'LM, LWB, LB', 'LB, LWB, RB',
       'RM, RB, LM', 'RM, CM, LM', 'LW, ST, CAM', 'RB, RM, CB',
       'LWB, RWB, LB', 'CF, RM, RW', 'RM, CF, CAM', 'LM, LW, CF',
       'RB, LM, LB', 'CAM, CM, RW', 'LB, CM, LW', 'CM, CF, CAM',
       'RW, RM, ST', 'CDM, RB, CM', 'CM, RB', 'RB, RWB, RW', 'LM, RW, RM',
       'CM, RB, CDM', 'LM, RM, LB', 'CDM, RB, CB', 'RB, CB, RM',
       'RWB, LW, LM', 'ST, CF, RW', 'RM, CM, CDM', 'LM, CF, ST',
       'LW, CAM, LM', 'CDM, LM, CM', 'ST, CM, CAM', 'LM, RM, RWB',
       'CM, CAM, RW', 'CAM, LM, RW', 'LW, LM, RM', 'CAM, RW, CF',
       'LM, ST, RW', 'CB, LWB, LB', 'RW, CF, LW', 'CB, CM, CDM',
       'CB, CAM', 'LW, LB', 'CDM, RB, LB', 'ST, CM, RB', 'RWB, LWB, RB',
       'CM, CB, RB', 'LB, LW, RB', 'CF, RM, RWB', 'LB, RM', 'RM, RW, RB',
       'LB, RM, RB', 'CDM, RM, CM', 'CDM, LB, CM', 'LM, CDM, CM',
       'RW, LM, CAM', 'LM, LB, RM', 'RM, CF, ST', 'RW, CM', 'RM, RWB, LM',
       'CF, CM, ST', 'RW, RM, LM', 'LM, CM, RW', 'RWB, CM', 'RB, RM, CDM',
       'CM, CB, CAM', 'CF, CM, LM', 'RWB, LWB, RM', 'CF, RM',
       'CM, CF, ST', 'RWB, RB, CB', 'LWB, RWB', 'RM, LM, LW',
       'LW, RM, CM', 'LW, CAM, ST', 'ST, RM, RWB', 'ST, CM',
       'CDM, CM, RWB', 'LB, CB, RB', 'CB, ST, CAM', 'CF, RM, CM',
       'CDM, CB, RB', 'CM, LM, RB', 'RB, CB, LWB', 'LM, LB, CDM',
       'LW, LWB', 'RW, CF, CAM', 'RM, RB, CAM', 'LB, RB, CM',
       'RM, CDM, LM', 'LWB, LB, CB', 'LB, RB, CDM', 'RB, CM, LB',
       'CDM, RM', 'LM, RB, CB', 'RW, RWB, RM', 'RM, LW, ST',
       'LB, RB, LWB', 'RM, LM, CDM', 'RB, RM, CAM', 'RM, ST, LW',
       'CF, LM', 'RB, LB, CDM', 'RW, LW, RB', 'RB, RWB, CDM',
       'CM, CAM, LB', 'LW, RW, LWB', 'CB, LWB, RWB', 'LB, CB, CDM',
       'ST, RB, RM', 'CM, RB, RM', 'RW, LM', 'RM, CF, RB', 'CB, RM, RB',
       'RWB, LWB', 'CM, ST, CDM', 'LWB, LW', 'CB, RB, ST', 'LB, LWB, CDM',
       'CB, RWB, RM', 'CB, ST', 'CM, ST', 'LM, LWB, CB', 'ST, LW, LWB',
       'LM, CDM, RM', 'LWB, LB, RW', 'RB, CM, CB', 'LM, RW, ST',
       'CM, RM, LW', 'ST, RW, LM', 'RWB, CM, RM', 'CAM, RWB, CM',
       'CM, RB, LM', 'RM, RB, RW', 'LW, LM, CM', 'RM, LM, LWB',
       'ST, LM, CF', 'LW, RM, CAM', 'RB, RWB, LWB', 'LB, CM, ST',
       'ST, LWB', 'RB, ST, LM', 'CDM, CAM, LM', 'LM, ST, LWB',
       'LB, RB, RW', 'RM, CDM', 'RB, LB, LWB', 'RW, CAM, LM',
       'LB, CDM, LM', 'RW, RB, LM', 'CB, LM', 'RW, LM, RM', 'RM, LB, CM',
       'LW, CAM, RM', 'RW, RB, LB', 'LW, LB, LM', 'CDM, RB, RWB',
       'CB, RW', 'CM, LM, LW', 'LM, RM, CB', 'LM, LWB, ST', 'ST, CB, CDM',
       'LB, CDM, CB', 'CDM, CB, RM', 'RB, RWB, CM', 'ST, RW, CF',
       'ST, CB', 'ST, LW, CM', 'LM, LB, ST', 'ST, CB, RB', 'RB, LM',
       'GK, RB', 'LM, LW, CM', 'LM, CM, LW', 'CB, CAM, CM', 'LM, RB',
       'RWB, CAM', 'RB, CAM', 'CB, CDM, RM', 'ST, RB', 'ST, RWB',
       'CAM, CDM, LM', 'CB, RWB, RB', 'LM, LWB, RM', 'LB, LM, CM',
       'CM, CF, LM', 'CM, RWB', 'CDM, LM', 'ST, CF, RM', 'CAM, LB',
       'RB, RM, ST', 'LM, CDM', 'CDM, RW, RB', 'LM, CF, CAM',
       'LWB, LM, RWB', 'CF, RM, ST', 'CAM, CF, LM', 'RB, ST, CB',
       'RW, RB, LW', 'LB, LM, CDM', 'RB, CB, ST', 'RWB, CB, RB',
       'CDM, ST', 'LW, RM, LM', 'RB, LWB', 'CDM, LB, CB', 'LM, LB, CF',
       'RB, CDM, LB', 'LB, LWB, CM', 'RM, LM, CB', 'CAM, LW, CF',
       'LB, LW, CM', 'RB, CM, CDM', 'LWB, LM, ST', 'CM, RW, RM', 'CB, RM',
       'CM, LM, CB', 'LM, LB, CB', 'ST, RW, CM', 'RM, ST, CM',
       'RWB, RM, LM', 'CM, CAM, RB', 'CM, RWB, CDM', 'LB, LWB, LW'],
      dtype=object)

In [197]:
temp_position = []
for x in range(len(df['Positions'])):
    y = sorted(df['Positions'][x].split(" "))
    yx = ' '.join(y)
    temp_position.append(yx)

df['Positions'] = temp_position
df['Positions'] = df['Positions'].astype(object)
df['Positions'].unique()

array(['CF RW, ST,', 'LW ST,', 'GK', 'CAM, CM', 'CAM LW,', 'ST', 'RW',
       'LW, RW ST,', 'CB', 'LW', 'CDM', 'CF, ST', 'LW, RW', 'CDM, CM',
       'CDM, RB', 'CAM CF,', 'LW, ST', 'CM', 'CF, LW ST,', 'CAM LM, RM,',
       'RB', 'CAM, CM RW,', 'LB', 'CF LM,', 'CF', 'LW RW,', 'CAM, RM, RW',
       'CDM CM,', 'CAM, CF, ST', 'CAM CDM, CM,', 'CAM CF, LW,',
       'CAM, CF RM,', 'LM, ST', 'LM, RM, RW', 'LM', 'CAM, RW', 'CB, CDM',
       'RM RW,', 'CF LW,', 'CM, LM RM,', 'LB, LM', 'CAM, CM, RM',
       'CAM, CF CM,', 'CAM, CF', 'LM, LW RM,', 'CM LB, LM,', 'CM, LB LM,',
       'RM, RW', 'CM RM,', 'CAM, CM, LW', 'CB, LB', 'RB RM,', 'RW ST,',
       'LM, LW RW,', 'LB RB,', 'RB, RM', 'RM', 'CF LM, RM,', 'CAM, RM',
       'RB, RWB', 'CB, CDM, CM', 'CAM, RM, ST', 'LM, LW, RM', 'CAM CM,',
       'CF RM, ST,', 'LM, RM', 'CF RM,', 'LM, LWB', 'CF RM, RW,',
       'CM RB,', 'CAM, LW, RW', 'CAM, CM LW,', 'CAM, CDM CM,',
       'CAM LW, RW,', 'CAM, CM, LM', 'CM, RM, ST', 'CDM, CM, RB',
       'CAM ST,', 'CAM, LW, ST', 'CB, LB, LWB', 'RM, ST', 'CB, CDM, LB',
       'RM RWB,', 'CM, LM, RM', 'CDM, CM RB,', 'LW, RM RW,', 'LM, LW',
       'CM, LM', 'LB LM,', 'LB, LM, RM', 'LW, RM ST,', 'CAM, CM, ST',
       'CF ST,', 'LB LWB,', 'LM LW, RW,', 'RM, RW, ST', 'LWB',
       'CAM CF, ST,', 'CAM, LM, RM', 'CB RB,', 'LM ST,', 'CAM RW,',
       'CAM LM,', 'RB RWB,', 'LW RW, ST,', 'CAM', 'RB, RM, RW', 'LB, LWB',
       'CAM RM,', 'CAM, ST', 'CB CDM,', 'CF, LM, LW', 'CAM, LM, LW',
       'CB, RB', 'CB, RB, RWB', 'LM, LW, ST', 'CM LW, ST,', 'CAM, CM RM,',
       'CDM CM, LM,', 'LB, LM, LWB', 'CB, LB, RB', 'CAM, LW',
       'RB, RM RWB,', 'RW, ST', 'LM LW,', 'CM RB, RM,', 'CAM, RW ST,',
       'CM, LB RB,', 'RB, RW', 'CM LM,', 'CM LM, RM,', 'CB CDM, CM,',
       'CF CM,', 'CF, LW, RW', 'RM ST,', 'CB LB,', 'RW, RWB',
       'LM, RM ST,', 'RB RM, RWB,', 'CAM LM, ST,', 'CAM, CF ST,',
       'CM LW,', 'LB RB, RWB,', 'LM RM,', 'CAM LW, ST,', 'CAM RM, RW,',
       'CDM, CM, RM', 'RB, RM, RWB', 'CAM, LM ST,', 'CF, RW',
       'CAM, LW RM,', 'CDM CM, RM,', 'LB, LM LWB,', 'CF LW, RW,',
       'CAM LM, LW,', 'LB LW, LWB,', 'CDM, CM, LM', 'CB, CM',
       'RB RW, RWB,', 'RM RW, ST,', 'CM LW, RW,', 'LB, RB', 'LB LM, RB,',
       'LM RM, ST,', 'CF, CM', 'CB, LB, LM', 'RM, RWB', 'LB, LM, RB',
       'CB LB, RB,', 'CM LB,', 'CAM, CF, LW', 'LWB RM,', 'CF, LM ST,',
       'CF, LW, ST', 'CAM RM, ST,', 'LW, RW, ST', 'LM LW, ST,', 'CM, LW',
       'CDM, CM, LB', 'CAM CM, RM,', 'CAM CM, LM,', 'RWB', 'CAM, CM LM,',
       'CAM, LM RM,', 'CAM LB, LM,', 'CAM, CDM', 'RB, RM RW,',
       'RM, RW ST,', 'CF, RW ST,', 'LM, RB RM,', 'CB, RB, RM', 'CDM RB,',
       'CB LB, LWB,', 'CDM, LB', 'LM, RM, ST', 'LWB RB, RWB,',
       'CAM CF, LM,', 'CAM, CF, RW', 'LB RB, RM,', 'CDM, RWB',
       'CAM CM, RW,', 'LM, RM, RWB', 'LB, RB, RM', 'LB LM, LW,',
       'CAM, LM', 'LM, LW ST,', 'CF, LW', 'CM, LB, RB', 'CB, CDM RB,',
       'CB, LB RB,', 'CAM, RM RW,', 'LM LWB,', 'CF, LM LW,',
       'CAM, CF, CM', 'CB LWB,', 'CDM, CM, LW', 'CM, RM', 'LM RM, RW,',
       'LB LWB, RM,', 'LB, RB RM,', 'CF, CM, RM', 'LM, RW ST,',
       'CAM, LW ST,', 'CF LM, LW,', 'CM, LW RW,', 'CAM, RW, ST',
       'LW LWB, RW,', 'LW RM, RW,', 'RW RWB,', 'CB CM,', 'CM RM, RW,',
       'CM LWB,', 'LB LM, RM,', 'CDM, RB RM,', 'LB, RB, RWB',
       'CAM RM, RWB,', 'CAM, CF LM,', 'LW RM, ST,', 'LB RB, RW,',
       'CAM RW, ST,', 'CM, LB', 'LW, RM, RW', 'CM, RM, RW', 'CF, LM RM,',
       'CF, LM, RM', 'CAM, RM ST,', 'CF RW,', 'CAM, CDM, CM',
       'CAM, LB LM,', 'CAM, LW RW,', 'CAM CDM,', 'LB LM, LWB,', 'LB RW,',
       'CAM, CF LW,', 'CB RB, RWB,', 'LW RM,', 'CAM, LM, ST', 'CM, LWB',
       'CDM, RB, RM', 'CM, RB RM,', 'LM, LWB RM,', 'LM, RB ST,',
       'CDM LB,', 'CB, CDM CM,', 'CB, CDM LB,', 'CAM, LM LW,',
       'CAM, RB RM,', 'CM, RB, RM', 'CM, LM LW,', 'CM, LB, LM',
       'LM, RM RWB,', 'CM, RM, RWB', 'LB, LM, LW', 'RB RW,',
       'CM LM, LWB,', 'LM RB, RM,', 'CF LM, ST,', 'LWB, RM RW,',
       'CB, RWB', 'CAM LW, RM,', 'LB, LW', 'CDM, CM, ST', 'CDM CM, LB,',
       'CAM, CF, LM', 'LM, LW, RW', 'LW, LWB, RWB', 'CB, CDM, RB',
       'CAM, CM ST,', 'LW, RW, RWB', 'CM, LM, ST', 'CM, LM LWB,',
       'LB, LM LW,', 'CAM CM, RB,', 'CM, RW', 'CB, LWB', 'CAM, RB',
       'LB, LM RM,', 'CB, CM RB,', 'CM, RB, RWB', 'LB, LM RB,',
       'LB, LW, RW', 'CM LM, ST,', 'CAM, CF, RM', 'CF, RM ST,',
       'LB LM, ST,', 'CM, LB LWB,', 'LWB RM, RWB,', 'LM, LWB, RB',
       'CM, LW, ST', 'CB LB, LM,', 'CB RWB,', 'CF LW, ST,', 'RM, RWB, ST',
       'CF, CM ST,', 'LM, RW', 'LB, LWB, RB', 'CB RB, RM,',
       'LB LWB, RWB,', 'CF, RM, RW', 'CAM CF, RM,', 'CAM, CM, RW',
       'CM, LB, LW', 'CAM CF, CM,', 'CM, RB', 'RB, RW RWB,', 'LM, RM RW,',
       'CDM CM, RB,', 'CB CDM, RB,', 'LM LW, RWB,', 'CF, LM, ST',
       'CDM, CM LM,', 'CAM CM, ST,', 'CAM, LM, RW', 'CAM, CF RW,',
       'CB, LB LWB,', 'CF, LW RW,', 'CAM CB,', 'LB LW,', 'CDM, LB RB,',
       'CM, RB ST,', 'LWB, RB RWB,', 'CB, CM, RB', 'LB, LW, RB',
       'CF, RM, RWB', 'LB, RM', 'RB RM, RW,', 'CDM, CM RM,',
       'CDM, CM LB,', 'CAM LM, RW,', 'CF, RM, ST', 'CM RW,',
       'LM RM, RWB,', 'CF, CM, ST', 'CM, LM, RW', 'CM RWB,',
       'CDM RB, RM,', 'CAM CB, CM,', 'CF, CM, LM', 'LWB, RM RWB,',
       'CF, RM', 'LWB, RWB', 'CM LW, RM,', 'RM, RWB ST,', 'CM ST,',
       'CDM, CM, RWB', 'CAM CB, ST,', 'CF, CM RM,', 'CM, LM, RB',
       'CB, LWB RB,', 'CDM LB, LM,', 'LW, LWB', 'CAM CF, RW,',
       'CAM RB, RM,', 'CM LB, RB,', 'CDM, LM RM,', 'CDM LB, RB,',
       'CDM, RM', 'CB LM, RB,', 'RM RW, RWB,', 'LW, RM, ST',
       'LB, LWB RB,', 'CDM LM, RM,', 'CF, LM', 'LW, RB RW,',
       'CDM RB, RWB,', 'CAM, CM, LB', 'LW, LWB RW,', 'CB, LWB, RWB',
       'RB, RM ST,', 'LM RW,', 'CF, RB RM,', 'CB, RB RM,', 'LWB RWB,',
       'CDM CM, ST,', 'LW LWB,', 'CB, RB, ST', 'CDM LB, LWB,',
       'CB, RM RWB,', 'CB, ST', 'CM, ST', 'CB LM, LWB,', 'LW, LWB ST,',
       'CDM, LM, RM', 'LB, LWB, RW', 'CB CM, RB,', 'LM, RW, ST',
       'CM, LW RM,', 'LM RW, ST,', 'CM, RM RWB,', 'CAM, CM RWB,',
       'CM, LM RB,', 'CM LM, LW,', 'CM, LB, ST', 'LWB ST,', 'LM RB, ST,',
       'CAM, CDM, LM', 'LM, LWB ST,', 'LB, RB, RW', 'CDM RM,',
       'CAM, LM RW,', 'CDM, LB, LM', 'LM RB, RW,', 'CB, LM', 'CM LB, RM,',
       'CAM, LW, RM', 'CDM, RB, RWB', 'CB, RW', 'CM, LM, LW',
       'CB LM, RM,', 'LM, LWB, ST', 'CB, CDM ST,', 'CB CDM, LB,',
       'CB, CDM, RM', 'CM RB, RWB,', 'CB ST,', 'LB, LM, ST', 'CB, RB ST,',
       'LM RB,', 'GK, RB', 'CAM, CB, CM', 'LM, RB', 'CAM RWB,', 'CAM RB,',
       'RB ST,', 'RWB ST,', 'CB, RB RWB,', 'LM, LWB, RM', 'CM, RWB',
       'CDM, LM', 'CAM, LB', 'RB, RM, ST', 'CDM LM,', 'CDM, RB RW,',
       'LM, LWB, RWB', 'CB RB, ST,', 'LW RB, RW,', 'CDM, ST',
       'LM LW, RM,', 'LWB RB,', 'CF LB, LM,', 'CM LB, LWB,', 'CM LB, LW,',
       'CM, RM RW,', 'CB, RM', 'CB CM, LM,', 'CM RW, ST,', 'CM RM, ST,',
       'CAM, CM, RB', 'CDM CM, RWB,', 'LB, LW LWB,'], dtype=object)

NOTE: It sort the Positions column and split it.

In [198]:
Final_exam = 'D:/BIG DATA LEVEL-2/WEB ANALYTICS AND BUSINESS INTELLIGENCE/Drashti(8890040)_Final.xlsx'
df.to_excel(Final_exam)